/* TODO:
Don't generalize the styling for header or input or button.
Make the styling specification for the id's work
(Right now for some reason for example, when I change "button" to 
"userSubmit", it does not format the submit button even tho it should)
*/

/* Styling for the text box header */
h1#text-box {
    margin-left: 525px;
}

/* Styling for the input box */
input#input-box {
    margin-left: 630px;
}

/* Specific styling for the submit button */
button#user-submit {
    margin-left: 690px;
}
