/* Moving the header and input box to the center of the page */
h1, input {
    margin-left: 650px;
}

/* Specific styling for the header */
h1 {
    padding-left: 10px;
}

/* Specific styling for the button */
button {
    margin-left: 690px;
}
