/* Styling for the text box header */
h1#textbox {
    margin-left: 525px;
}

/* Styling for the input box */
input#inputbox {
    margin-left: 630px;
}

/* Specific styling for the submit button */
button#usersubmit {
    margin-left: 690px;
}

/* Styling for dot image */
input#dot {
    position: absolute;
    top: 12px;
    right: 355px;
    height: 50px;
    visibility: hidden;
}
